<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>공학설계 3조</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: black;
            color: white;
            border: none;
            text-align: center;
        }

        #colorInputBox {
            width: 200px;
            height: 100px;
            border: 3px solid white;
            background-color: white;
            display: inline-block;
            border-radius: 10%;
            margin-bottom: 10px;
        }

        #colorInput {
            background-color: white;
            margin: 15px;
            border: none;
            width: 70%;
            height: 70%;
        }

        #choosen_color {
            width: 100px;
            height: 20px;
            border: 1px solid white;
            display: inline-block;
        }

        /*#A {background-color: white; color: grey;border: none;}*/
        /*#A:hover {background-color: black;}*/
        /*button[name="green"] {background-color: green;border: none;}*/
        /*button[name="green"]:hover {background-color: black;}*/
        /*button[name="red"] {background-color: red;border: none;}*/
        /*button[name="red"]:hover {background-color: black;}*/
        /*button[name="blue"] {background-color: blue;border: none;}*/
        /*button[name="blue"]:hover {background-color: black;}*/
        /*#X {background-color: grey;color: white;border: none;}*/
        /*#X:hover {background-color: black;}*/
    </style>
    <script>
        $(document).ready(function () {
            $('#submit').click(function () {
                const value = $(this).val().substring(1);
                console.log('value', value)

                $.get('/controller/' + value, function (data, status) {
                });
            });
        });
    </script>
</head>
<body>
<div class="wrap">
    <header>
        <h2>공학설계 3조</h2>
    </header>
    <main>
        <h3>LED 제어 버튼</h3>
        <!--        <div>-->
        <!--            <button type="button" class="btn btn-success" id='A'>모두 켜기</button>-->
        <!--            <button name="green" type="button" class="btn btn-warning" id='1'>초록색</button>-->
        <!--            <button name="red" type="button" class="btn btn-primary" id='2'>빨간색</button>-->
        <!--            <button name="blue" type="button" class="btn btn-success" id='3'>파랑색</button>-->
        <!--            <button type="button" class="btn btn-default" id='X'>모두 끄기</button>-->
        <!--        </div>-->
        <div id="colorInputBox">
            <input id="colorInput" type="color" value="#000000">
        </div>
        <div>
            <p id="choosen_color"></p>
        </div>
        <button id="submit" value="#000000" style="color:#000;">등록</button>
    </main>
    <script>
        const default_color = document.getElementById("colorInput").value;
        document.getElementById("colorInput").onchange = function () {
            if (this.value !== default_color) {
                document.getElementById('choosen_color').innerHTML = this.value;
                document.getElementById('submit').setAttribute("value", this.value);
            } else document.getElementById('choosen_color').innerHTML = default_color;
        };
        document.getElementById('choosen_color').innerHTML = default_color;
        document.getElementById('submit').setAttribute("value", default_color);
    </script>
</div>
</body>
</html>
